.pointed {
  font-weight: bold;
  color: #d00;
}

.current-instruction {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

textarea {
  font-family: monaco;
  height: 35rem;
}

pre {
  font-family: monaco;
}
